body {
  font-family: sans-serif;
  font-size: 14px;
}

html {
  /* background: #555;
  color: whitesmoke; */
  background: whitesmoke;
  color: #333;
}

.testEntry {
  width: 99vw;
  margin: 0 auto;
  background: rgb(128, 128, 128);
  background: white;

  padding: 15px 2vw;

  margin-top: 50px;
  padding-top: 5px;
}

.fullWidth {
  padding: 10px 5px;
}

.testTable {
  line-height: 1.5em;
}

.testTable th,
.testTable td {
  /* color: gainsboro; */
  color: #555;

  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px dashed lightgray;
  overflow: scroll;
  max-width: 25vw;
}

.testTable th:nth-child(1),
.testTable td:nth-child(1) {
  /* max-width: 100vw; */
  font-weight: 600;
}

.testTable th {
  /* border-bottom-style: solid; */
  border-bottom: 1px solid darkgray;
}

.testTable th {
  max-width: 25vw;
  width: auto;
  word-wrap: none;
  overflow-wrap: none;
  white-space: nowrap;
}
input {
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 100%;
  margin-bottom: 25px;
  /* background: gainsboro; */
  font-size: 14pt;
}

h4 {
  font-weight: normal;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
  padding: 5px;
}

/* tr.green .assessment,
tr.green .actualLink {
  background: olivedrab;
  color: white !important;
}

tr.red .assessment,
tr.red .actualLink {
  background: firebrick;
  color: white !important;
} */

tr.green .assessment {
  /* font-weight: bold; */
  background: olivedrab;
  color: white !important;
}

tr.green .actualLink {
  color: olivedrab;
}

tr.red .assessment {
  /* font-weight: bold; */
  background: firebrick;
  color: white !important;
}

tr.red .actualLink {
  color: firebrick;
}

tr {
  animation: fadeIn 1.5s ease;
  animation-delay: 0.5s;
  /* animation-direction: forwards; */
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.credit {
  text-align: center;
  width: 100%;
  display: block;
  color: #333;
  padding: 15px 25px;
}
